body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #0b0d17, #03283a);
}

.header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #0b0d17;
  justify-content: space-between;
  border-radius: 2rem;
  box-shadow: 0 0 10px #c0f2ff;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #aae0ff;
  letter-spacing: 2px;
  font-size: 1.8rem;
  flex-direction: column;
}

.logo-text {
  margin-top: -47px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-weight: 500;
  font-size: 1.05rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 19px;
}

.nav-links li a:hover {
  color: #7eb9fc;
  text-shadow: 0 0 10px #38a2f8;
}
